@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Bad+Script|Handlee|Satisfy');

@mixin accent-font() {
    // font-family: 'Bad Script', cursive;
    //font-family: 'Satisfy', cursive;
    font-family: 'Abril Fatface', cursive;    
}

.home-header {
    @include accent-font();
    position: absolute;
    right: 0;
    font-size: 70px;
    width: 60%;
    height: 100vh;

    h2 {
        margin-bottom: 0;
    }
}

.home-hero {
    width: auto;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}